.addTasks {
    display: flex;
    justify-content: center;
}

.formAdd {
    display: flex;
    gap: 0.5rem;
    margin-top: -1.75rem;
}

.addField {
    width: 40rem;
    height: 3.5rem;
    padding: 1rem;
    background: var(--gray-500);
    color: var(--white);
    border: 1px solid #0D0D0D;
    border-radius: 8px;
}

.addBtn {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 5.75rem;
    height: 3.5rem;
    padding: 1rem;
    background: var(--blue-dark);
    color: var(--white);
    border-radius: 8px;
    border: none;
}