.task {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    max-width: 46rem;
    margin: 1.5rem auto auto;
    background: var(--gray-400);
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
}

.check {
    width: 1.125rem;
    height: 1.125rem;
    background: none;
    border: none;
}

.check div {
    width: 100%;
    height: 100%;
    border: 2px solid var(--blue);
    border-radius: 50%;
}

.check svg {
    width: 100%;
    height: 100%;
    color: var(--purple);
}

.content,
.taskCompleted {
    flex: 1;
    font-size: 0.875rem;
    color: var(--gray-100);
    line-height: 1.4;
    text-align: start;
}

.taskCompleted {
    color: var(--gray-300);
    text-decoration: line-through;
}

.task button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
}

.task button:hover {
    color: var(--danger);
}